#body {
    background-image: url(https://scx2.b-cdn.net/gfx/news/hires/2020/online.jpg);
    width: 100%;
    height: 100%;
}

#scroll {
    display: grid;
    font-size: 25px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    gap: 30px;
    font-family: 'Courier Prime', monospace;
}

#mainPanel {
    justify-self: center;
    width: 40%;
    background-color: hsla(252, 100%, 50%, 0.27);
    color: white;
    padding: 50px;
    line-height: 50px;
    border-radius: 5px;
}

#form{
    display: grid;
}

input[type='text'] {
    width: 98%;
    height: 30px;
    border-radius: 5px;
    border-color: transparent;
}

.opt1 {
    width: 98%;
    height: 30px;
    border-radius: 5px;


}

#comments{
    width: 98%;
    height: 200px;
    border-radius: 5px;
    text-align: left;

}

#title {
    justify-self: center;
    line-height: 50px;
    height: 20%;
    width: 40%;
    padding-top: 100px;
    text-align: center;
    line-height: 30px;
    color: white;
    border-color: transparent;
}

::-webkit-scrollbar {
    background-color: lightblue;
    width: 5px;
}

::-webkit-scrollbar-button {
    color: navy;
}

::-webkit-scrollbar:hover {
    background-color: lightblue;
}

#wrap {
    justify-self: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Courier Prime', monospace;
    width: 535px;
    height: 70px;


    
  }